<div class="about-container">
  <!-- <p class="about-header">ABOUT US</p> -->
  <hr class="hr-about"></hr>
  <h1 class="mission-statement"><i>Our goal is to simplify the process of planning fundraisers for student
    organizations and businesses</i></h1>
  <hr class="hr-about"></hr>
  <h2 class="origin-story-header">Origin Story</h2>
  <p class="origin-story-content">&emsp; &emsp; Founder Steven Buchko created Agora to solve the communication
    problems he faced as an undergraduate at the University of Florida (UF). Frustrated with the number of apps
    he was using to stay up-to-date with campus organizations, he made it his personal mission to centralize
    group communication and relieve the pressure felt by overwhelmed students like himself.
    <br>
    <br>
    &emsp; &emsp; Agora Fundraising stems from the main Agora website, and mirrors its goals and mission. It
    aims to target a specific issue that arises when student organizations want to host fundraising events with
    local businesses. This web app aims to help both parties coordinate the timing, location, and promotional
    offers for upcoming fundraising nights. By helping facilitate this process will increase efficiency, reduce
    miscommunication, and avoid repeated efforts. Agora Fundraising also helps foster a strong connection
    between the University of Florida and the local community, while helping them accomplish their individual
    goals.
</p>
</div>
