<!-- <div class="row">
  <div style="margin-left:-20px; margin-right:20px;" class="col-xs-6 col-md-6 faq-container">

    <div class="panel-group" id="accordion">
        <h3 align="center" class="general">General</h3>
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-custom">
                <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">What is Agora?</a>
                </h2>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                  Agora is a software platform that centralizes communication for organizations.
                  With Agora, you no longer have to use multiple apps to communicate with your members.
                  Announcements, Events, Polls, Attendance Tracking, Document Sharing, Member Directories -
                  Agora has it all!
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-custom">
                <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Who is Agora for?</a>
                </h2>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                  Agora is for anyone involved with an organization! Fraternities, sororities,
                  honors clubs, non-profits, sports teams, etc... Any type of organization can
                  benefit using Agora.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-custom">
                <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">How much does Agora cost?</a>
                </h2>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                  Agora costs $50 per month for organizations with under 100 members and
                  $80 per month for organizations under 300 members.  Does your organization
                  have over 300 members?  Contact <a href="mailto:info@AgoraOrg.com">info@AgoraOrg.com</a> for pricing!
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-custom">
                <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">I forgot my password.  What can I do?</a>
                </h2>
            </div>
            <div id="collapse4" class="panel-collapse collapse">

                <div class="panel-body">
                    To reset your password: First open Agora and navigate to the login page by tapping on
                    "Log in with your Agora account".  Next, tap on "Forgot Password" and follow the instructions
                    to reset your password.  If you're still having issues, please reach out to us at
                    <a href="mailto:help@AgoraOrg.com">help@AgoraOrg.com</a>.
                </div>
            </div>
        </div>
    </div>
  </div>

  <div class="col-xs-6 col-md-6 faq-container">

    <div class="panel-group" id="accordion">
        <h3 align="center" class="general">General</h3>
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-custom">
                <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">What is Agora?</a>
                </h2>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                  Agora is a software platform that centralizes communication for organizations.
                  With Agora, you no longer have to use multiple apps to communicate with your members.
                  Announcements, Events, Polls, Attendance Tracking, Document Sharing, Member Directories -
                  Agora has it all!
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-custom">
                <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Who is Agora for?</a>
                </h2>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                  Agora is for anyone involved with an organization! Fraternities, sororities,
                  honors clubs, non-profits, sports teams, etc... Any type of organization can
                  benefit using Agora.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-custom">
                <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">How much does Agora cost?</a>
                </h2>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                  Agora costs $50 per month for organizations with under 100 members and
                  $80 per month for organizations under 300 members.  Does your organization
                  have over 300 members?  Contact <a href="mailto:info@AgoraOrg.com">info@AgoraOrg.com</a> for pricing!
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-custom">
                <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">I forgot my password.  What can I do?</a>
                </h2>
            </div>
            <div id="collapse4" class="panel-collapse collapse">

                <div class="panel-body">
                    To reset your password: First open Agora and navigate to the login page by tapping on
                    "Log in with your Agora account".  Next, tap on "Forgot Password" and follow the instructions
                    to reset your password.  If you're still having issues, please reach out to us at
                    <a href="mailto:help@AgoraOrg.com">help@AgoraOrg.com</a>.
                </div>
            </div>
        </div>
    </div>
  </div>
</div> -->

<div class="faq-container">
  <div class="hidden-xs col-sm-3">
      <div class="fading-side-menu" data-spy="affix" data-offset-top="350">
          <h3>Table of Contents</h3>
          <hr class="no-margin">
          <ul class="list-unstyled">
              <li>
                  <a href="#general">
                      General
                  </a>
              </li>
              <li>
                  <a href="#student-organizations">
                      Student Organizations
                  </a>
              </li>
              <li>
                  <a href="#businesses">
                      Businesses
                  </a>
              </li>
          </ul>
      </div>
  </div>


  <div class="col-xs-12 col-sm-9 categories">
      <div>

          <div class="panel-group" id="accordion">
              <h3 id="general">General</h3>
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h2 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">What is
                            Agora?</a>
                      </h2>
                  </div>
                  <div id="collapse1" class="panel-collapse collapse">
                      <div class="panel-body">
                        Agora is a software platform that centralizes communication for organizations.
                        With Agora, you no longer have to use multiple apps to communicate with your members.
                        Announcements, Events, Polls, Attendance Tracking, Document Sharing, Member Directories - Agora has it all!
                        <br>
                        <a href="https://agoraorg.com/">AgoraOrg.com</a>
                      </div>
                  </div>
              </div>
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h2 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Who is Agora
                          for?</a>
                      </h2>
                  </div>
                  <div id="collapse2" class="panel-collapse collapse">
                      <div class="panel-body">
                        Agora is for anyone involved with an organization! Fraternities, sororities,
                        honors clubs, non-profits, sports teams, etc... Any type of organization can
                        benefit using Agora.
                      </div>
                  </div>
              </div>
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h2 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">What is Agora
                            Fundraising?</a>
                      </h2>
                  </div>
                  <div id="collapse3" class="panel-collapse collapse">
                      <div class="panel-body">
                        Agora Fundraising is a web application that stems from Agora. It allows student
                        organizations to connect with businesses in order to host upcoming fundraising events.
                      </div>
                  </div>
              </div>
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h2 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">I forgot my
                            password. What can I do?</a>
                      </h2>
                  </div>
                  <div id="collapse4" class="panel-collapse collapse">

                      <div class="panel-body">
                          To reset your password: First open Agora Fundraising and navigate to the login page
                          by tapping on "Log in". Under "Restore your Password," enter your account username,
                          and an email will be sent the email address associated with the account.
                      </div>
                  </div>
              </div>
          </div>

          <div class="panel-group" id="accordion-2">
              <h3 id="student-organizations">Student Organizations</h3>
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h2 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion-2" href="#collapse6">Why would a
                            student organization sign up for Agora Fundraising?</a>
                      </h2>
                  </div>
                  <div id="collapse6" class="panel-collapse collapse">
                      <div class="panel-body">
                        Student organizations would be able to connect with local businesses in order to host a
                        fundraising night. Users would be able to view available events from various businesses,
                         request an event, and cancel requests.
                      </div>
                  </div>
              </div>
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h2 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion-2" href="#collapse5">How can I sign
                            up my student organization?</a>
                      </h2>
                  </div>
                  <div id="collapse5" class="panel-collapse collapse">
                      <div class="panel-body">
                        There are two ways to sign up your organization on Agora: <br />
                            1.  Click the "Sign Up" button at the top right hand side of this page. <br />
                            2.  Click the "Dashboard" button and you will be prompted to either log in or
                            create an account.
                      </div>
                  </div>
              </div>
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h2 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion-2" href="#collapse7">Can other
                            members join my account in Agora Fundraising?</a>
                      </h2>
                  </div>
                  <div id="collapse7" class="panel-collapse collapse">
                      <div class="panel-body">
                        No, there should only be one account associated with each student organization account.
                        This is to avoid any confusion that could arise from multiple users.
                        However, an user can transfer accounts to another email address by novering over your
                        account picture on the upper right corner, navigating to "Settings", and inputting the
                        new email address.
                      </div>
                  </div>
              </div>
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h2 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion-2" href="#collapse8">How can I
                            request an event?</a>
                      </h2>
                  </div>
                  <div id="collapse8" class="panel-collapse collapse">
                      <div class="panel-body">
                        Once logged in to your student organization account, select the dashboard tab. Select
                        "Request Event" to view a list of available fundraising days from local businesses. Hit
                        the "Request Event" button to send that business a notification for that event. You may
                        also cancel your request in this same lcoation.
                      </div>
                  </div>
              </div>
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h2 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion-4" href="#collapse9">How can I
                            change my profile picture?</a>
                      </h2>
                  </div>
                  <div id="collapse9" class="panel-collapse collapse">
                      <div class="panel-body">
                        Select your account on the upper right corner, and hit the "Settings" option on the
                        dropdown list. Under "Edit Profile," there will be the option to change your profile
                        picture. Hit "Select Image" and choose an picture from your comptuer. Hit "Upload" to
                        finalize the profile picture.
                      </div>
                  </div>
              </div>
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h2 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion-4" href="#collapse10">How can I
                            change my email?</a>
                      </h2>
                  </div>
                  <div id="collapse10" class="panel-collapse collapse">
                      <div class="panel-body">
                        Select your account on the upper right corner, and hit the "Settings" option on the
                        dropdown list. Under "Edit Profile," there will be the option to change your email on
                        the right side of the screen. Input the new email address that you want to change it to
                        and select "Update Profile".
                      </div>
                  </div>
              </div>
          </div>
          <div class="panel-group" id="accordion-4">
              <h3 id="businesses">Businesses</h3>
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h2 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion-4" href="#collapse12">Why would a
                            business sign up for Agora Fundraising?</a>
                      </h2>
                  </div>
                  <div id="collapse12" class="panel-collapse collapse">
                      <div class="panel-body">
                        Businesses would be able to connect with the University of Florida in order to host a
                        fundraising night. Users would be able to view create new events, view requests for an
                        event, accept a student organization for the event, and delete an event.
                      </div>
                  </div>
              </div>
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h2 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion-4" href="#collapse13">How can I
                            sign up my business?</a>
                      </h2>
                  </div>
                  <div id="collapse13" class="panel-collapse collapse">
                      <div class="panel-body">
                        There are two ways to sign up your organization on Agora: <br/>
                            1.  Click the "Sign Up" button at the top right hand side of this page. <br />
                            2.  Click the "Dashboard" button and you will be prompted to either log in orcreate
                            an account.
                      </div>
                  </div>
              </div>
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h2 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion-4" href="#collapse14">Can other
                            members join my account in Agora Fundraising?</a>
                      </h2>
                  </div>
                  <div id="collapse14" class="panel-collapse collapse">
                      <div class="panel-body">
                      No, there should only be one account associated with each business account. This is to
                      avoid any confusion that could arise from multiple users.
                      However, an user can transfer accounts to another email address by novering over your
                      account picture on the upper right corner, navigating to "Settings", and inputting the
                      new email address.
                      </div>
                  </div>
              </div>
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h2 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion-4" href="#collapse15">How can I
                            create an event?</a>
                      </h2>
                  </div>
                  <div id="collapse15" class="panel-collapse collapse">
                      <div class="panel-body">
                      Once logged in to your business account, select the dashboard tab. Select "Create Event",
                      fill out all the required information about the upcoming fundraising event, and select an
                      image for the event banner. Select "Create Event" to save the information you just
                      entered.
                      </div>
                  </div>
              </div>
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h2 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion-4" href="#collapse16">How can I
                            change my profile picture?</a>
                      </h2>
                  </div>
                  <div id="collapse16" class="panel-collapse collapse">
                      <div class="panel-body">
                        Select your account on the upper right corner, and hit the "Settings" option on the
                        dropdown list. Under "Edit Profile," there will be the option to change your profile
                        picture. Hit "Select Image" and choose an picture from your comptuer. Hit "Upload" to finalize the profile picture.
                      </div>
                  </div>
              </div>
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h2 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion-4" href="#collapse17">How can I
                            change my email?</a>
                      </h2>
                  </div>
                  <div id="collapse17" class="panel-collapse collapse">
                      <div class="panel-body">
                        Select your account on the upper right corner, and hit the "Settings" option on the
                        dropdown list. Under "Edit Profile," there will be the option to change your email on
                        the right side of the screen. Input the new email address that you want to change it to
                        and select "Update Profile".
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
