<body>
<section ng-controller="HomeController">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item" ng-repeat="event in eventList" ng-class="{active : $first}">
        <img src={{event.banner}} alt="carousel {{$index}}">
        <div class="carousel-caption">
          <h3 id="eventData">{{event.name}}</h3>
          <h4 id="eventData">{{event.dateOfEvent | date:"MM'/'dd'/'yyyy"}}  {{event.startTime | date:"hh:mm a"}} - {{event.endTime | date:"hh:mm a"}}</h4>
          <p id="eventData">{{event.location}}</p>
        </div>
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="font-family:'', serif !important">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next" style="font-family:'', serif !important">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="container-fluid dashboard-container">
    <div class="row">
      <div class="col-sm-6" style="justify-content: center">
        <h2 style="text-align: center">Student Organizations</h2>

          <font size="3"> Register with Agora fundraising to connect with local businesses to
            organize fundraising events. You are able to search for events based on location,
            time, and business in order to find the perfect venue for your next fundraiser.</font>

      </div>
      <div class="col-sm-6" style="justify-content: center">
        <h2 style="text-align: center">Businesses</h2>
        <font size="3">
          Register with Agora Fundraising to make your business available to student
          organizations.
          Work with organizations to boost sales through various fundraising opportunities at your business.
          This way, you can give back to your community by helping local students.</font>

      </div>
    </div>
    <div class="row" style="justify-content: center">
      <h2 style="text-align: center">Want to know more? Click <a ui-sref="faq">here </a>for more information.</h2>
    </div>
</div>
</section>
</body>
