<div class="container-fluid" ng-controller="EventsListController">
    <div class="row" style="margin-top:5px">
        <!-- TABBED MENU -->
          <div class="container-fluid">
            <div class="dashboard-container">
              <p class="dashboard-header">Dashboard</p>

            <!-- TABS -->
            <div class="row" style="justify-content: center">
              <ul class="nav nav-tabs">
                <li ng-class="{active : activeTab == 'requests'}"><a ng-click="setActiveTab('requests'); cal=0" class="nav-link org-menu-selects" style="color:#1B5689; cursor:pointer" ui-sref=".eventList">Requests</a></li>
                <li ng-class="{active : activeTab == 'calendar'}"><a ng-click="setActiveTab('calendar'); cal=1" class="org-menu-selects nav-link" style="color:#1B5689; cursor:pointer" ui-sref=".calendar">Calendar</a></li>
                <li ng-class="{active : activeTab == 'pastEvents'}"><a ng-click="setActiveTab('pastEvents'); cal=1" class="org-menu-selects nav-link" style="color:#1B5689; cursor:pointer" ui-sref=".pastEvents">Past Events</a></li>
                <li ng-class="{active : activeTab == 'notifications'}"><a ng-click="setActiveTab('notifications'); cal=1" class="org-menu-selects nav-link" style="color:#1B5689; cursor:pointer" ui-sref = ".notifications">Notifications</a></li>
              </ul>
            </div>

              <div>
               <div ui-view></div>
              </div>

            <!-- REQUEST EVENT BUTTON -->
            <div class="row" style="justify-content: center">
              <button class="btn" ng-hide="cal==1" style="display: block; margin:auto; margin-bottom:6px; color: white; background-color: #F5A623;border: solid 1px #D38401" ui-sref="requestEvent">Request Event</button>
            </div>
          </div>
        </div>
    </div>
  </div>
